/* ==========================================================================
   #HEADER
   ========================================================================== */

  $govuk-header-border-width: govuk-spacing(2);

.app-header {
  background-color: rgb(102, 13, 102);
  color: govuk-colour("white");
  padding: govuk-spacing(2) 0;
  border-bottom: govuk-spacing(0) solid rgb(102, 13, 102);
}

.app-header__link {
  color: govuk-colour("white");
  display: inline-block;
  text-decoration: none;

  &:link,
  &:visited {
    color: inherit;
  }

  &:focus {
    color: govuk-colour("black");
  }

}

.app-header__logotype-crest {
  fill: currentColor;
  height: 45px;
  margin-right: govuk-spacing(2);
  vertical-align: middle;
  width: 50px;
}

.app-header__logotype-text {
  @include govuk-font($size: 24, $weight: bold);
  vertical-align: middle;
}

.app-header__title {
  @include govuk-font($size: 24);
  vertical-align: middle;
  margin-left: govuk-spacing(2);
}
.app-header__container {
    @include govuk-clearfix;
    position: relative;
    margin-bottom: -$govuk-header-border-width;
    padding-top: govuk-spacing(2);
  }
